<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DbEnv"
         value="Test"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="RedditContext"
         connectionString="Data Source=104.210.2.44;Initial Catalog=AkuznetsovReddit;User ID=sa;Password=Test!1234567890;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>
