<div class="error">
    <p>

        @{
            if (ViewBag.Error == null)
            {
                <h3>Sorry! Can not find the page.</h3>
            }
            else
            {
                <h3> @ViewBag.Error</h3>
            }
        }

        </h3>
    </p>
</div>


